<div class="container-md">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h1 class="text-center my-3">{{ 'home.h1'|trans }}</h1>
                <p class="lead">
                    {{ 'home.p_lead'|trans({ '%link%': path('admin_homepage_index')})|raw }}.
                </p>
                {# <p class="lead">Wellcome to our site. On this page you can see only active articles. Please, visit <a href="{{ path('admin_homepage_index') }}">admin panel</a> to add new or edit existing story.</p> #}
                
                {% for article in active_articles %}
                    <div class="col-md-6">
                        <div class="border p-2">
                            <h2>{{ article.name }}</h2>
                            <p>{{ article.shortDescription }}</p>
                            <footer><a href="{{ path('article_view', { id: article.id }) }}">Read</a></footer>
                        </div>
                    </div>
                {% endfor %}    
            </div>
        </div>
        <div class="col-md-4">
            {% if continue_reading != null %}        
                <h3 class="text-secondary text-center my-3">Continue reading</h2>
                <a class="link-none" href="{{ continue_reading.link }}">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="text-secondary">{{ continue_reading.name }}</h5>
                            <p class="text-secondary">Read</p>
                        </div>
                        <div class="col-3 text-center">
                            <img class="img-fluid" src="/img/common/mars-car-100.webp" width="100px">
                        </div>
                    </div>
                </a>
            {% endif %}
        <div class="col-md-4">
    </div>
</div>
<div data-controller="hello">
   
</div>
<script type="module">
    import h from "home";
    console.log({ h });
</script>    