<div class="container-md">
    <div class="row">
        <h1 class="text-center my-3">Admin panel home page</h1>
        <div class="col-md-4">
            <div class="border p-2">
                <h2>Categories</h2>
                <p>Total - {{ total_categories }} </p>
                <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('admin_category_new_get') }}">Create new</a></li>
                <li class="list-group-item"><a href="{{ path('admin_category_list') }}">List all</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border p-2">
                <h2>Articles</h2>
                <p>Total - {{ total_articles }} </p>
                <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('admin_article_new_get') }}">Create new</a></li>
                <li class="list-group-item"><a href="{{ path('admin_article_list') }}">List all</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>