{% block body %}

<div class="container">
      <h1>Article listing page</h1>
      <div class="text-end">
            <a class="btn btn-primary" href="/admin/article/new" role="button">New</a>
      </div>
      <table class="table">
          <thead>
                <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Short Description</th>
                        <th scope="col">Active</th>
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                </tr>
          </thead>
          <tbody>
                {% for article in articles %}
                {% set activeColor = '' %}
                {% if article.active == 'not active' %}
                    {% set activeColor = 'text-warning bg-secondary' %}
                {% elseif article.active == 'active' %}
                    {% set activeColor = 'text-success' %}
                {% endif %}
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td>{{ article.name }}</td>
                        <td>{{ article.shortDescription }}</td>
                        <td class="{{ activeColor }}">{{ article.active }}</td>
                        <td><a href="{{ path('admin_article_view', { id: article.id }) }}">view</a></td>
                        <td><a href="{{ path('admin_article_edit', { id: article.id }) }}">edit</a></td>
                        <td>
                            <form action="{{ path('admin_article_delete', { id: article.id }) }}" method="post">
                                <button type="submit" class="btn btn-secondary my-2 btn-sm py-0">delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
          </tbody>
      </table>
      <div class="text-end">
            <a class="btn btn-primary" href="/admin/article/new" role="button">New</a>
      </div>
</div>
{% endblock %}
